<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizhi.bs.mapper.mp.LibraryRoomsMapper">

    <resultMap id="BaseResultMap" type="com.lizhi.bs.domain.LibraryRooms">
            <id property="roomId" column="room_id" jdbcType="INTEGER"/>
            <result property="roomName" column="room_name" jdbcType="VARCHAR"/>
            <result property="roomIntro" column="room_intro" jdbcType="VARCHAR"/>
            <result property="isAvailable" column="is_available" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        room_id,room_name,room_intro,
        is_available,create_time,update_time
    </sql>
</mapper>
